# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Flask / Django / Web
instance/
.webassets-cache
local_settings.py
db.sqlite3
db.sqlite3-journal
.env
.envrc

# Environments (가상환경)
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Jetson / AI Model files (용량이 커서 제외)
models/
*.engine
*.onnx
*.pt

# Installation / Archive files
archive/
*.deb

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.flutter_sdk_backup

# Android/iOS specific
/android/app/debug
/android/app/profile
/android/app/release
app.*.symbols
app.*.map.json

# Miscellaneous
*.class
*.log
*.swp
.atom/
.buildlog/
.history
.svn/
.pdm-python
.pdm-build/
.pixi

# App related ignore
backend/
services_old/
migrate_working_dir/
